<div class="row">
  <div class="col-sm-6">
    <ul class="list-group kin-sample-location">
      <li class="list-group-item"
          ng-repeat="container in location.containers">
        <div class="row">
          <div class="col-sm-3">
            <span class="kin-sample-class">
              {{ classUri[container.cls].name }}
            </span>
          </div>
          <div class="col-sm-9">
            <span class="kin-sample-container">
              {{ container.name }}
            </span>
          </div>
        </div>
      </li>
      <li class="list-group-item" ng-if="containerClass && props.needsCoord">
        <div class="row">
          <div class="col-sm-3">
            <span class="kin-sample-class">
              Co-ordinate
            </span>
          </div>
          <div class="col-sm-9">
            <span class="kin-sample-container">
              {{ location|containerGridCoord:containerClass }}
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    <kin-sample-location location="location">
    </kin-sample-location>
  </div>
</div>
