node_modules
bower_components
/.tmp/
/dist/
/build/
/gulpdist/
/django_kindred.egg-info/
/junk/
/data/
/docs/_build
/docs/images/*.png
__pycache__
/upload/
/venv/
/log/
exports/
turtle-migrate.log
*.swp
/virt_*/
.version
