<div class="modal-header">
  <h3 class="modal-title">Confirm</h3>
</div>
<div class="modal-body">
  <p>
    The following
    <ng-pluralize count="users.length"
                  when="{'one': 'user',
                         'other': '{} users'}">
    </ng-pluralize>
    will be sent an e-mail containing instructions on how to reset
    their passwords.
  </p>
  <ul>
    <li ng-repeat="user in users">
      <tt>{{ user.email }}</tt> — {{ user|personFullName }}
    </li>
  </ul>
  <form class="form-horizontal" role="form" name="form"
        novalidate autocomplete="off">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="deactivate">
        Deactivate current password until a new one is set?
      </label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary"
          ng-click="$close({ users: users, deactivate: deactivate })">
    Reset passwords
  </button>
  <button type="button" class="btn btn-default"
          ng-click="$dismiss()">
    Cancel
  </button>
</div>
