<div class="container-fluid">
  <div class="row" ng-if="vm.items">
    <div class="col-md-12 col-lg-8">
      <div class="row" ui-sortable="sortableOptions" ng-model="vm.items">
        <div class="col-xs-12" ng-repeat="item in vm.items">
          <div class="thumbnail thumbnail-study-admin" ng-class="{ 'study-archived': !!item.archived }">
            <div class="caption study" ng-if="vm.ui.edit !== item">
              <h3>
                {{item.name}}
                <small>{{ item.slug }}</small>
              </h3>
              <p>{{item.desc}}</p>
              <small>
                <ng-pluralize count="item.num_members"
                              when="{'0': 'Empty', 'one': '1 patient', 'other': '{} patients'}">
                </ng-pluralize>
              </small>
              <div class="text-right">
                <button type="button" class="btn btn-default btn-xs"
                        ng-click="vm.toggleStudyArchive(item)">
                  <i class="glyphicon" ng-class="{ 'glyphicon-folder-open': !!item.archived, 'glyphicon-folder-close': !item.archived }"></i>
                  {{ item.archived ? "Unarchive" : "Archive" }}
                </button>
                <button type="button" class="btn btn-danger btn-xs"
                        ng-disabled="item.num_members" ng-click="vm.deleteItem(item)">
                  <i class="glyphicon glyphicon-trash"></i>
                  Delete
                </button>
                <button type="button" class="btn btn-primary btn-xs"
                        ng-disabled="vm.ui.edit"
                        ng-click="vm.startEdit(item)">
                  <i class="glyphicon glyphicon-pencil"></i>
                  Edit
                </button>
              </div>
            </div>
            <div class="caption study-edit" ng-if="vm.ui.edit === item">
              <form name="studyEdit" class="form-horizontal"
                    role="form" autocomplete="off">
                <div class="form-group form-group-sm">
                  <label for="study-name" class="col-sm-2 control-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="study-name" placeholder="Name"
                           ng-model="vm.ui.editCopy.name" required>
                  </div>
                </div>
                <div class="form-group form-group-sm">
                  <label for="study-slug" class="col-sm-2 control-label">Slug</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="study-slug" placeholder="Slug"
                           ng-model="vm.ui.editCopy.slug" required
                           pattern="^[-a-zA-Z0-9]*$">
                  </div>
                </div>
                <div class="form-group form-group-sm">
                  <label for="study-desc" class="col-sm-2 control-label">Desc</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="study-desc" placeholder="Description"
                           ng-model="vm.ui.editCopy.desc">
                  </div>
                </div>
                <div class="form-group form-group-sm" ng-if="item.archived">
                  <label for="study-archived" class="col-sm-2 control-label">Archive Date</label>
                  <div class="col-sm-10">
                    <kin-date-picker id="study-archived" ng-model="vm.ui.editCopy.archived"
                                     ng-required="true">
                    </kin-date-picker>
                  </div>
                </div>

                <div class="text-right">
                  <button type="button" class="btn btn-default btn-xs"
                          ng-click="vm.cancelEdit(vm.ui.edit, vm.ui.editCopy)">
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-success btn-xs"
                          ng-disabled="studyEdit.$pristine || studyEdit.$invalid"
                          ng-click="vm.finishEdit(vm.ui.edit, vm.ui.editCopy)">
                    <i class="glyphicon glyphicon-ok"></i> Update
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- box for adding new item -->
      <div class="row">
        <div class="col-xs-12">
          <span class="thumbnail" ng-class="{ 'study-archived': !!item.archived }">
            <div class="caption study" ng-if="vm.ui.edit !== item">
              <h3>Info</h3>
              <p>
                To change a study, click edit, then update. The slug
                field is a short word or abbreviation which will form
                the URL of the study page.
              </p>
              <p>
                Studies can be deleted only if they are
                empty. Otherwise use the archive button to hide them
                from view.
              </p>
              <p>
                To change the order, drag the boxes up and down.
              </p>
              <p>
                To add a study, use the button below.
              </p>
              <p>
                Remember to save when done.
              </p>

              <div class="text-right" ng-hide="vm.ui.edit">
                <button type="button" class="btn btn-primary btn-sm"
                        ng-click="vm.addItem(study)">
                  <i class="glyphicon glyphicon-plus"></i>
                  Add Study
                </button>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
