<div class="container-fluid flash-messages">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="flash-message"
           ng-repeat="message in messages track by $index"
           ng-class="message.type"
           ng-show="message.type"
           ng-mouseenter="pause(message)"
           ng-mouseleave="unpause(message)">
        <button ng-hide="message.transient" ng-click="hideMessage(message, $index)"
                type="button" class="close" aria-hidden="true">&times;</button>
        <span ng-switch="message.type">
          <i class="glyphicon glyphicon-ok-sign" ng-switch-when="success"></i>
          <i class="glyphicon glyphicon-info-sign" ng-switch-when="info"></i>
          <i class="glyphicon glyphicon-remove-sign" ng-switch-when="danger"></i>
        </span>
        <span>{{ message.text }}</span>
      </div>
    </div>
  </div>
</div>
